.textureTitle {	
	background-image: url(Pic/Textures/texture01.jpg);
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	border: 1px solid yellow;
	margin: -8px;
	
}
.titletext {
	color:aqua;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;

}
#texture1 {
	background-image: url(Pic/Textures/texture01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;


}
.title {
	color: rgb(223, 192, 17);
	font-size: 40px;
	text-align: center;
	line-height: 150px;
} 
.box1 {
	background-color:black;
	border: 1px solid rgb(238, 197, 16);
	color: white;
	padding: 10px;
	margin: -8px;
	
}
.box2 {
	background-color:rgb(53, 50, 48); /* test color */ 
	border: 1px solid aqua;
	color: white;
	height: 350px;
	padding: 10px;
	margin: -8px;		
}
.box3 {
	background-color:rgb(53, 50, 48); /* test color */ 
	border: 1px solid aqua;
	color: white;
	height: 500px;
	padding: 10px;
	margin: -8px;	
	border:2px solid yellow;
}
.box3HH {
	background-color:rgb(53, 50, 48); /* test color */ 
	border: 1px solid aqua;
	color: white;
	height: auto;
	padding: 10px;
	margin: -8px;	
}
.box4 {
	background-color: rgb(124, 102, 88);
	border:1px solid aqua;
	color: white;
	height: auto;
	padding: 10px;
	margin: -8px;
}
.boxnew1 {
	background-color:rgb(48, 25, 9); /* test color */ 
	border: 1px solid aqua;
	color: white;
	height: 600px;
	padding: 10px;
	margin: -8px;	
}

 /* Otsikot */
h1,h2 {margin-top: 12px;}
h3 {color: aqua;}
hr {margin: -8px;}
/* Teksti */
p {
	color: white;
	font-size: 18px;
	padding: 0px 20px;
	margin-top: 8px;
}
/* Navigaattori */
.navbar {	
	background-color: Black;
	border: 1px solid yellow;
	overflow: auto;
	display: flex;
	justify-content:left;
	width: auto;
	height:55px;
	top:22px;
}
/* Buttons */
.navbar a {	
	padding: 13px;
	color:  rgb(209, 193, 45);
	text-decoration: none;
	font-size: 25px;	
}
.navbar a:hover {color: #DCC6C6;}
.disabled {opacity: 0.5;cursor: not-allowed;}
.navmargin {margin: -8px}
.navmarginDropDown {margin: 2px; padding:12px; position:relative; right:10px;}

.nav-right  {		
	top:-43px;
	left:45%;
}
.nav-right a {
	text-align: right;	
	color:white;
	text-decoration: none;
	font-size: 25px;

	
}
.nav-right a:hover {color:#DCC6C6;
cursor:pointer;
}

.parallax1 {
	background-image: url("Pic/Parallax/parallax01.jpg"); /* Test picture xbox ohjain*/ 
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 8px -8px;
}
.parallax2 {
	background-image: url("Pic/Parallax/parallax02.jpeg"); /* Test picture far cry*/ 
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 8px -8px;
}
.parallax3 {
	background-image: url("Pic/Parallax/parallax03.jpg"); /* chess parallax */
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 8px -8px;
}
.parallax4 {
	background-image: url("Pic/Parallax/parallax04.jpg"); /* ps4 ohjain parallax */
	height: 350px; /* Testi koko */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 8px -8px;
}
.parallax5 {
	background-image: url("Pic/Parallax/parallax05.jpg"); /* black and white puzzle parallax */
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 8px -8px;
}
.parallax6 {
	background-image: url("Pic/Parallax/parallax06.jpg"); /* black and white puzzle parallax */
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 8px -8px;
}
.button {
	font-size: 20px;
	color: black;
}
.button:hover {
	box-shadow: 0 0 10px 0 rgb(245, 203, 19) ;
}
.button01 {	font-size: 20px; }

#myTable1 { display:none; }
#myTable2 { display:none; }
#myTable3 { display:none; }

#myTable01 { display:none; }
#myTable02 { display:none; }
#myTable03 { display:none; }

#boxPic01 {
	width: 350px;
	height: 250px;	
}

#boxPic02 {
	width: 350px;
	height: 250px;
}

#boxPic03 {
	width: 350px;
	height: 250px;
}
#test01 {padding: 20px;}

#Bhide, #Bshow {
	font-size: 18px;	
	background-color: grey;
	width: auto;
}
#Bhide:hover , #Bshow:hover, button:hover
{
	box-shadow: 0 10px 35px green;

}
#button {
	font-size: 18px;	
	background-color: black;
	color: white;
	width: auto;
}
.left-div {
    float: left;
    width: 100px;
    height: 20px;
    margin-right: 8px;
    background-color: linen;
}
.right-div {
    margin-left: 108px;
    background-color: lime;
}
/* Testi 2 ja 3 */

.menuNew,.menuNew2, #b01, #b02, #b03,#b04 {
	box-sizing:border-box;	
	border: 1px solid aqua; /*Huom!*/
}
.menuNew {	
    width:auto;
	height: 450px;
	overflow: hidden;	
    padding: 1% 0 0 1%;
}
#b01,#b02,#b03,#b04{
    height:350px;
    width: auto; 
    display:inline-block;    
	margin: 0 1% 1% 0;
	text-align: left;
}
.button01{
	height:200px;
    width: auto; 
    display:inline-block;    
	margin: 0 1% 1% 0;
	text-align: left;
}
.menuNew2 {
	
    width:auto;
	height: 450px;
	overflow: scroll;	
    padding: 1% 0 0 1%;

}
#myTop{
	position:fixed;
	bottom:45px;
	background-color:#76BDD7;
	display:none;
	right:40px;
	font-size:25px;
	width:auto;
	border:none;
	border-radius: 5px;
}
#formMenu {
padding-top: 20px;
padding-left: 10px;
padding-right: 40px;
text-align:left;
background-color:#7687B6;
}
#formMenu2 {
padding:30px;
width:98%;
margin:-8px;
background-color:#5A929B;
}
#formMenu-right {text-align: right; position: absolute; left: 69%; top: 82%;}
#formMenu-right2 {text-align: right; position: absolute; left: 58%; top: 59%;}

#cancelButton1 {
background-color: #E15C5C;
display:none;
border:none;
color: white;
font-size: 15px;
padding:12px;
position:fixed;
left:31%;
top:56%;
z-index: 1;
}

#cancelButton2 {
	background-color: #E15C5C;
	display:none;
	border:none;
	color: white;
	font-size: 15px;
	padding:12px;
	position:fixed;
	left:36%;
	top:43%;
	z-index: 1;
	}

#cancelButton1:hover, #cancelButton2:hover {background-color: #E17474;}

/*
.animation1 {animation: animatezoom 0.4s }
   @keyframes animation {
	0% {width:20px; height:0px;}
	20% {width:20px; height:20px;}
	
 }
*/

#formMenuPic{text-align:center;}
h1, b{color:white;}
#formWid {width:50%;}
#FormUname {display:inline;top:50px;}

input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

#FormButton1 { 
background: #A9B676; 
font-size: 22px;
border: none;
width:100%;
text-align: center;

}
#FormButton1:hover { background: #C8D0AA;}

#loginIframe {
	position:fixed;
	left: 30%;
	top: 10%;
	width: 800px;
	height: 600px;
}

#loginIframe2 {
	position:fixed;
	left: 35%;
	top: 10%;
	width: 500px;	
	height: 600px;
}
.dropdw:hover .dropThis{
	height:auto;
	transition: all .5s ease;
	display:block;
	height:85px;
}
.dropThis {		
	height:0px;
	opacity:0;
	display:none;
	background-color: #bbb23b;
	min-width: 100px;
}

.dropThis a {
	font-size: 20px;
	color: black;
	padding: 2px 2px;
	display: block;
	text-align: left;
}
.dropThis a:hover {
	color: rgb(250, 239, 84);}
.Open {	
	height: 0px;
	width: 100%;	
	background-color: #7687B6;
}
.TextInput {
	position:fixed;
	left:10%;
	height:10%;
	width:0%;
	border:2px solid green;
}
.OpenSeachBox {transition: all 1.2s ease;}
.OpenSeachBox2 {transition: all 0.8s ease;}
.OpenSeachBox3 {transition: all 1.2s ease;}
.OpenSeachBox3Pic {transition: all 1.2s ease;}
.OpenSeachBox3Pic2 {transition: all 1.0s ease;}

.OpenSeachBox-active {
	position:fixed;
	height: 40%;
	width: 100%;
	margin:-8px;
	background-color: rgb(49, 83, 179);
}
.SeachBar{
	position:fixed;
	width:100%;
	height:0%;
	background-color: rgb(104, 130, 202);
}
.SeachBar2{
	position:fixed;	
	width:0%;
	height:0%;
	background-color: rgb(104, 130, 202);
}
.SeachBar2Pic{
	position:fixed;
	width:0%;
	height:0%;	
	background-color: rgb(104, 130, 202);
}
.SeachBar2Pic2{
	position:fixed;
	width:0%;
	height:0%;	
	background-color: rgb(104, 130, 202);
}

.SeachBar-Open{
	position:fixed;	
	width:100%;
	height:5%;
	background-color: rgb(49, 83, 179);	
}
.SeachBar-Open2{
	position:fixed;
	width:90%;
	left:5%;
	top:1%;
	height:4%;	
	background-color: rgb(219, 225, 241);	
}
.SeachBar-Open2Pic{
	position:fixed;	
	background-image: url("Pic/Pictures/Seach.png");	
	background-repeat: no-repeat;
	background-size: cover;
	left:1%;
	width:3%;
	height:5%;
	background-color: rgb(49, 83, 179);
}
.SeachBar-Open2Pic2{
	position:fixed;	
	background-image: url("Pic/Pictures/Close.png");	
	background-repeat: no-repeat;
	background-size: cover;
	left:95%;
	width:3%;
	height:5%;
	background-color: rgb(49, 83, 179);
}

.SeachBar-active {
	width:10%;
	height:100px;
}

#hoverThis {
	position:relative;
	top: 30px;
	left:86%;
}

.TextInput-Open {
	position:fixed;
	left:10%;
	height:100%;
	width:100%;
	border:2px solid rgb(201, 122, 57);
}
.OpenBox {
	width: 102%;
	height: 200px;
	background-color: #3B9092;
	margin:-8px;
	display:none;
}
#ColorMe01 {
	position:relative;
	top:5%;
	left:35%;
	width:15%;
	height:20px;
		
}
#InlineMe01 {
	display: inline;
	position:relative;	
	top:5%;
	left:35%;
	font-size: 1.5em;	
}
#BoxOpacity01 {
	height:850px;
	width: 102%;
	margin:-8px;
	background-color: #7687B6;
	opacity:0.5;
	display: none;
}
#smallerPic {
	height: 50px;
	width: 50px;
	position: relative;
}
.box{
	width: 100px;
	height: 100px;
	background: #9d7ede;
	margin-top: 30px;
	border-style: solid; /* Required to animate border width */
	border-color: #6f40ce;
}
.LazyLoad {
	width: 450px;
	height: 450px;
}



/*
img{
	width: 100vw;
	transform: translateX(50%);
	opacity: 0;
	transition: all 500ms;
}
.fade{
	transform: translateX(0);
	opacity: 1.0;
	transition: all 500ms;
}
*/
.slider {
width:100%;
height:25px;
background: #a72727; 
outline: none;
opacity: 0.7; 
transition: opacity .2s;
display: flex;
overflow-x: auto;

border-radius: 5px;

scroll-behavior: smooth;

-webkit-overflow-scrolling: touch;
scroll-snap-points-x: repeat(300px);
scroll-snap-type: mandatory;
}
.slider:hover{opacity:1;}
#BoxToFun {
width:100%;
height:90%;
border:1px solid yellow;
position:relative;
top:2%;
overflow: hidden;
}
.key {
border:4px solid black;
position:relative;
margin:10px;
float:left;
top:5%;
left:5%;
font-size:1.5rem;
transition:all 0.07s;
width:150px;
height:50px;
text-align: center;
color:white;
background:rgba(0,0,0,0.4);
}
.playing {
	transform:scale(1.1);
	border-color:#ffc600;
	box-shadow: 0 0 10px #ffc600;
}
.clock{
	width:25rem;
	height:25rem;
	border:10px solid white;
	position:relative;
	top:5%;
	left:60%;	
	border-radius:50%;
}
.clock-face {
	position:relative;
	width:100%;
	height:100%;
	transform: translateY(-3px);
}
.hand {
	width:50%;
	height:6px;
	background:black;
	position:absolute;
	top:50%;
	transform-origin:100%;
	transform: rotate(90deg);
	transition:all 0.02s;
	transition-timing-function: cubic-bezier(0.1,2.7,0.58,1)
}
.smallMe{
	position:relative;
	top:30%;
	width:300px;
	height:240px;
}
.FlexContainer{
	display:flex;	
	
	height: 50vh;
	border:3px solid rgb(170, 206, 136);	
}
.FlexBoxText{
	font-size: 5em;
	flex-grow: 1;
	text-align: center;
}
.FlexBox1{background-color:#3B9092;}
.FlexBox2{background-color:#1fc054;}
.FlexBox3{background-color:rgb(59, 119, 146);}
.FlexBox4{background-color:rgb(38, 68, 134);}
.FlexBox5{background-color:rgb(139, 131, 53);}
.myslider{width:100%;}

.WidHei {
	width: 100%;
	height: 500px;
}
#Asd {
	width:1000px;
	height:500px;
	margin:20px auto;
	position:relative;
	border:1px solid yellow;
}
button{
	padding:16px;
	border:none;
	background: #37f;
	font-size: 30px;
	color:white;
	position:absolute;
	top:40%;
}
#autocomplete {
	color:white;	
	background-color: #1fc054;
}
